<html>

<head>
    <title>Interview Page</title>
    <link rel="stylesheet" href="./form.css" />
</head>

<body>
    <div class="Heading">
        <h1>
            Interview Creation Page
        </h1>
    </div>
    <div class="content">
        <div class="Creation">
            <form action="/" method="POST">
                <div id="">
                    <div class="form-control List--Heading">
                        <h1>Creation</h1>
                    </div>
                    <!-- <div class="form-control">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name-input" required />
                </div> -->
                    <div class="form-control">
                        <label for="start">Start Time</label>
                        <input type="time" name="start" id="start-time" required />
                    </div>
                    <div class="form-control">
                        <label for="end">End Time</label>
                        <input type="time" name="end" id="end-time" required />
                    </div>
                    <label for="names">Participants</label>
                    <select name="snames" id="names" multiple required>
                        <% for(let i=0; i < names.length; i++) {%>
                            <option value="<%=names[i]%>">
                                <%=names[i]%>
                            </option>
                            <%} %>
                    </select>
                    <div class="create--button">
                        <button type="submit" name="submit">Create</button>
                        <!-- <a href="/" onclick="submit">Create</a> -->
                    </div>

                    <!-- <input type="submit" placeholder="Create" name="submit"> -->
                </div>
            </form>

        </div>
        <div class="List">
            <div class="form-control List--Heading">
                <div class="form-head">List</div>
                <div class="grid-out">
                    <div class="grid-cointainer">
                        <%for(let i=0;i<list.length;i++){%>
                            <div class="box">
                                <form action="/delete" method="post">
                                    <div class="box--time">
                                        <%= list[i].stime %> - <%= list[i].etime %>
                                    </div>
                                    <!-- <div class="box--item"></div> -->
                                    <div name="student" class="box--item">
                                        <%= list[i].participants %>
                                    </div>
                                    <div>
                                        <button type="submit" name="submit" value="<%= list[i]._id %>">Delete</button>
                                    </div>
                                </form>
                            </div>
                            <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>